#header {
    width: 100%;
    margin: 0px;
    padding: 8px;
    background: #DDDDDD;
    float: center;
}

.header_button {
    width: 150px;
    height: 50px;
    line-height: 5px;
    margin: 8px;
    padding: 4px;
    background: #5bddfd;
    float: right;
    text-align: center;
    vertical-align: middle;
    margin-right: 13px;
}

#sidebar {
    width: 900px;
    height: 750px;
    float: right;
    background: #bbbbbb;
    border: 1px solid black;
    margin-right: 10px;
}

#info_box {
    width: 800px;
    height: 900px;
    float: left;
    margin: 0px;
    border: 1px solid black;
}