<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/mockup.css">
    <title>About</title>
</head>

<body>
    <div id="header">
        <a href="create.html" style="color:black;">
            <div class="header_button">
                <h1>Create</h1>
            </div>
        </a>
        <a href="watch.html" style="color:black;">
            <div class="header_button">
                <h1>Watch</h1>
            </div>
        </a>
        <a href="about.html" style="color:black;">
            <div class="header_button">
                <h1>About</h1>
            </div>
        </a>
        <a href="careers.html" style="color:black;">
            <div class="header_button">
                <h1>Careers</h1>
            </div>
        </a>
        <a href="index.html" style="color:black;">
            <image src="../static/generic_logo.png" style="width:300px;height:75px;">
        </a>
    </div>
    <div id="sidebar_about">
        <div class="sidebar_button">
            <h3>What is TED?</h3>
        </div>
        <div class="sidebar_button">
            <h3>What is this project?</h3>
        </div>
        <div class="sidebar_button">
            <h3>What is 'Create'?</h3>
        </div>
        <div class="sidebar_button">
            <h3>Who are we?</h3>
        </div>
        <div class="sidebar_button">
            <h3>Where is the data?</h3>
        </div>
        <div class="sidebar_button">
            <h3>What is love?</h3>
        </div>
    </div>
    <div id="info_box_about">
        <p>Insert helpful info here</p>
    </div>
</body>

</html>