<!DOCTYPE html>
<html lang="en">

<head>
    <title>Careers</title>
</head>

<body>
    <div id="header">
        <a href="create.html" style="color:black;">
            <div class="header_button">
                <h1>Create</h1>
            </div>
        </a>
        <a href="careers.html" style="color:white;">
            <div class="header_button">
                <h1>Careers</h1>
            </div>
        </a>
        <a href="about.html" style="color:black;">
            <div class="header_button">
                <h1>About</h1>
            </div>
        </a>
        <a href="watch.html" style="color:black;">
            <div class="header_button">
                <h1>Watch</h1>
            </div>
        </a>
        <a href="index.html" style="color:black;">
            <image src="../static/generic_logo.png" style="width:300px;height:75px;">
        </a>
    </div>
    <a href="index.html" style="color:black;text-decoration:none;">
        <h2>404: Not Found</h2>
        <p>Lmao you think we have jobs?</p>
    </a>
</body>

</html>