<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/mockup.css" />
    <script type="text/javascript" src="../static/ted.js"></script>
    <title>Create</title>
</head>

<body>
    <div id="header">
        <a href="create.html" style="color:black;">
            <div class="header_button">
                <h1>Create</h1>
            </div>
        </a>
        <a href="watch.html" style="color:black;">
            <div class="header_button">
                <h1>Watch</h1>
            </div>
        </a>
        <a href="about.html" style="color:black;">
            <div class="header_button">
                <h1>About</h1>
            </div>
        </a>
        <a href="careers.html" style="color:black;">
            <div class="header_button">
                <h1>Careers</h1>
            </div>
        </a>
        <a href="index.html" style="color:black;">
            <image src="../static/generic_logo.png" style="width:300px;height:75px;">
        </a>
    </div id="info_box_create">
    <p>insert info here</p>
    <div class="create_sidebar" id="random_speaker"></div>
    </div>
    <div id="sidebar_create">
        <div class="category_button">
            <button id="random_speaker_button">
                <h2>Talk!</h2>
            </button>
        </div>
        <div class="category_button">
            <h2>Option 1</h2>
        </div>
        <div class="category_button">
            <h2>Option 2</h2>
        </div>
    </div>
</body>

</html>