<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index.html</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="careers.html">Careers</a>
            </li>
            <li>
                <a href="create.html">Create</a>
            </li>
            <li>
                <a href="video.html">Video</a>
            </li>
            <li>
                <a href="watch.html">Watch</a>
            </li>
        </ul>
    </body>
</html>
