<!DOCTYPE html lang="en">
<html>

<head>
    <title>index.html</title>
    <link rel="stylesheet" href="../static/mockup.css" type="text/css" />
    <script type="text/javascript" src="../static/ted.js"></script>
</head>

<body>
    <div id="header">
        <!-- <a href="create.html" style="color:black;">
            <div class="header_button">
                <h1>Create</h1>
            </div>
        </a> -->
        <a href="careers.html" style="color:black;">
            <div class="header_button">
                <h1>Careers</h1>
            </div>
        </a>
        <a href="about.html" style="color:black;">
            <div class="header_button">
                <h1>About</h1>
            </div>
        </a>
        <a href="watch.html?#" class="current">
            <div class="header_button">
                <h1>Watch</h1>
            </div>
        </a>
        <a href="index.html" style="color:black;">
            <image src="../static/generic_logo.png" style="width:300px;height:75px;">
        </a>
    </div>

    <div class="bonus_bar">
        <div class="bonus_button_wrapper">
            <div class="blank_bonus_button">
            </div>
        </div>
        <div class="bonus_button_wrapper">
            <div class="blank_bonus_button">
            </div>
        </div>
        <div class="bonus_button_wrapper">
            <div class="blank_bonus_button">
            </div>
        </div>
        <div class="bonus_button_wrapper">
            <a style="color:black;">
                <div class="blank_bonus_button">
                    <form class="form" role="speaker_search">
                        <input id="speaker_search" type="text" placeholder="Speaker">
                        <button type="button" id="submit">Search</button>
                    </form>
                </div>
            </a>
        </div>
        <div class="bonus_button_wrapper">
            <div class="blank_bonus_button">
            </div>
        </div>
        <div class="bonus_button_wrapper">
            <a style="color:black;">
                <div class="dropdown">
                    <form class="form" role="sorter">
                        <select class="dropbtn" id="sorter">
                            <option>Name (A-Z)</option>
                            <option>Name (Z-A)</option>
                            <option>Duration (low to high)</option>
                            <option>Duration (high to low)</option>
                            <option>Rating: Beautiful</option>
                            <option>Rating: Confusing</option>
                            <option>Rating: Courageous</option>
                            <option>Rating: Fascinating</option>
                            <option>Rating: Funny</option>
                            <option>Rating: Informative</option>
                            <option>Rating: Ingenious</option>
                            <option>Rating: Inspiring</option>
                            <option>Rating: Jaw-Dropping</option>
                            <option>Rating: Longwinded</option>
                            <option>Rating: Obnoxious</option>
                            <option>Rating: Ok</option>
                            <option>Rating: Persuasive</option>
                            <option>Rating: Unconvincing</option>
                        </select>
                    </form>
                </div>
            </a>
        </div>
        <div class="bonus_button_wrapper">
            <a href="" style="color:black;">
                <form class="form" role="random">
                    <button type="button" class="bonus_button" id="random">
                        <h2>Random</h2>
                    </button>
                </form>
            </a>
        </div>
    </div>

    <div id="video_box">


        <!-- <div class="video">
            <div class="imageWrapper">
                <a href="video.html"><img src="https://collegian.com/wp-content/uploads/2018/09/DSC_0649-1-min.jpg"
                        class="" title="" alt="video"></a>
            </div>

            <div class="videoSidebar">
                <div class="title">
                    <a href="mockup_video.html" title="" onclick="">3 rules to help you build a locust plague</a>
                </div>
                <div class="descriptionPadding">
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Quisque sagittis purus sit amet volutpat consequat. Enim ut tellus elementum sagittis
                        vitae et leo duis. Nec
                        sagittis aliquam malesuada bibendum arcu vitae. Nunc mattis enim ut tellus elementum sagittis
                        vitae et leo.
                    </div>
                </div>
                <div class="metadata">
                    <div class="views">Views: 23,438</div>
                    <div class="runtime">02:15</div>
                </div>
            </div>

        </div> -->


    </div> <!-- end video-box -->

</body>

</html>